.movie-list-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
}

.movie-item {
  display: inline-block;
  width: 200px;
  margin-right: 10px;
  text-align: center;
  vertical-align: top;
}

.movie-item img {
  width: 100%;
}
