:root {
  font-family: 'Barlow', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f0f0f0;
  background-color: #171718;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #272a31;
}

.navbar {
  display: flex;
  gap: 20px;
}

.sidebar {
  border: 1px solid white;
  min-width: 150px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-select--title {
  margin: 5px 0;
}

.sidebar-select-item {
  color: #f0f0f0bf;
  transition: color 0.3s ease;
  font-size: 19px;
  padding-bottom: 8px;
}

.sidebar-select-item,
.logo {
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}
.logo {
  color: #f0f0f0;
  font-size: 20px;
}
.sidebar-select-item:hover {
  cursor: pointer;
  color: #f0f0f0;
}

.icon-con {
  background-color: #272729;
  padding: 7px;
  border-radius: 10px;
  margin-right: 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.sidebar-select-item:hover .icon-con,
.active-link .icon-con {
  color: #272729;
  background-color: #38ff21;
}

.active-link {
  color: #f0f0f0;
  cursor: default;
}

main {
  display: flex;
  gap: 10px;
  padding: 25px;
  font-weight: 600;
  font-size: 20px;
}

.games-layout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
}

.game-con {
  min-width: 270px;
  border-radius: 15px;
  background-color: #272729;
  min-height: 250px;
}

.game-con h4 {
  margin: 10px 10px 20px;
}

.game-con--img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 270px;
  height: 160px;
  object-fit: cover;
}

.game-con-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 20px;
}
.game-con-info h4 {
  text-align: center;
  border-radius: 5px;
  padding: 0 8px;
  font-size: 18px;
}

.game-con-info--platforms {
  display: flex;
  align-items: center;
}
.game-con-info--platforms p {
  margin: 0;
  font-size: 16px;
}

.game-con--btns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 10px 20px;
}

.game-con--btns--item {
  color: #f0f0f0;
}
.game-con--btns--item:hover {
  color: #38ff21;
  cursor: pointer;
}
